<title>Testisovellus</title>
<form action="/send" method="POST">
Nimi: <br>
<textarea name="name" rows="3" cols="40"></textarea>
<br>
Kuvaus: <br>
<textarea name="descr" rows="3" cols="40"></textarea>

<br>
Elementti: <br>
<input type="radio" id="maa" name="elementti" value="maa">
  <label for="maa">Maa</label><br>
<input type="radio" id="tuli" name="elementti" value="tuli">
  <label for="tuli">Tuli</label><br>
<input type="radio" id="vesi" name="elementti" value="vesi">
  <label for="vesi">Vesi</label><br>
<input type="radio" id="ilma" name="elementti" value="ilma">
  <label for="ilma">Ilma</label><br>
  
Harvinaisuus: <br>
<input type="radio" id="1" name="harvinaisuus" value="1">
  <label for="1">Kulta</label><br>
  <input type="radio" id="2" name="harvinaisuus" value="2">
  <label for="2">Hopea</label><br>
  <input type="radio" id="3" name="harvinaisuus" value="3">
  <label for="3">Pronssi</label><br>
  
<input type="submit" value="Lähetä">

</form>

