{% extends "layout.html" %}
{% block title %}Viestit{% endblock %}
<body>
{% block content %}
<form action="/adminmsgsend" method="POST">
Vastaanottajan nimi: <br>
<textarea name="recip" rows="1" cols="40"></textarea>
<br>

Viestisi: <br>
<textarea name="message" rows="1" cols="40"></textarea>
<br>

Haluatko tehdä viestistä julkisen ilmoituksen (jos valitset kyllä, voit jättää Vastaanottaja -kentän tyhjäksi)?
<br>
<input type="radio" id="kylla" name="ilmoitus" value=0>
  <label for="kylla">Kyllä</label><br>
<input type="radio" id="ei" name="ilmoitus" value=1 checked="checked">
  <label for="ei">Ei</label><br>
  
<input type="submit" value="Lähetä">

</form>
</body>
{% endblock %}
